.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    overflow: hidden;
    height: 97vh;
    
}

.sedans{
    background-color: orange;
    
}

.suvs{
    background-color: green;
}

.luxury{
    background-color: navy;
}


.child div p{
    justify-self: center;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: white;
    
}
.sedans div p{
    color: orange;
}

.suvs div p{
    color:green;
}

.luxury div p{
    color: navy;
}

img{
    width: 40px;
    height: 40px;
}

@media(width > 900px){
    .child{
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: white;
        line-height: 40px;
    }

}